	<h2>follow cellstories</h2>
	Have you heard of the social medias? Totally friend us!
	<div id="links">
	<ul>
	<li><a href="http://www.twitter.com/cellstories">twitter</a></li>
	<li><a href="http://www.facebook.com/pages/CellStories/153791020055">facebook</a></li>
</ul>
</div>