	<h2>our partners</h2>
	<p><i>With 260 stories published a year, CellStories is thankful to be content partners with some of the best small publishers, reading series, and lit sites around. If you'd like to become a partner, please <a href="mailto:stories@cellstories.net">drop us a line!</a></i>
<p>
<div id="links">
<ul>
<li><a href="http://storiesandwine.mobify.me">2nd Story</a></li>
<li><a href="http://www.joyland.ca">Joyland.ca</a></li>
<li><a href="http://www.barrelhousemag.com">Barrelhouse</a></li>
<li><a href="http://www.the2ndhand.com/">The2ndHand</a></li>
<li><a href="http://www.isgreaterthan.net">Is Greater Than</a></li>
<li><a href="http://www.carte-blanche.org/">Carte-Blanche</a></li>
<li><a href="http://www.featherproof.com">Featherproof Books</a></li>
<li><a href="http://www.akashicbooks.com">Akashic Books</a></li>
<li><a href="http://www.facebook.com/home.php?m2w#!/pages/Austin-TX/The-Awesome-and-Great-Reading-Show/152075499173?ref=ts">Awesome and Great Show</a></li>
</ul>
</div>