	<h2>submitting to cellstories</h2>
	<p><i>We welcome all submissions and will take a good look at everything we receive. It should go without saying, but we'll say it anyway: not everything will get chosen to run in CellStories. We will try and give some short feedback as to why. But please do read the following submission information before you submit:</i>
<p>
<b>What Kind of Stories?</b><br>
All kinds. Short stories, personal essays, narrative journalism, creative nonfiction, more experimental storytelling forms. The key, really, is a story. Something captivating. Something that moves. 
<p>
<b>How Long Should They Be?</b><br>
We've found that a good CellStory piece is around 1500-2000 words. That's a 10-15 minute read, and you can do it in one sitting. It's also a story that's able to reach a depth and a conclusion that leaves a reader satisfied. All that said, if you've got something kick-ass at 1000 or something just truly incredible at 3000 by all means send it along.
<p>
<b>Do The Pieces Have to be Original?</b><br>
Not at all! We love reprints. There are so many amazing outlets for great writing, and we welcome any pieces you've written for them (provided, obviously, that you've got the copyright to use the piece). We always give credit for reprints, complete with links back to the original source.
<p>
<b>Do You Pay?</b><br>
Unfortunately, no. CellStories is a bootstrapped startup--fancy-talk for self-funded. We have plans for how to generate revenue and once we do we will be sure to spread it around. But for now, nobody's making money--instead we're driven by the desire to bring great writing to great readers. To that end, if you're a published author, we include links to your published work, and hopefully generate sales from that.
<p>
<b>Who Retains Copyright?</b><br>
You do! With CellStories, the author always retains the copyright of the pieces that run. We're just thankful that you let us use them. But they're absolutely your words. 
<p>
<b>I'm a publisher interested in sending multiple stories your way</b><br>
Wonderful! We love to <%= link_to 'partner', partners_path %> with publishers, people that coordinate readings series, and other people that work with multiple authors and want some extra exposure for their writers and their work. We provide links back to all originating sources. Absolutely <a href="mailto:stories@cellstories.net">get in touch</a>. 
<p>
<b>How do I submit?</b><br>
Simply by <a href="mailto:stories@cellstories.net">sending your story to us</a>. We can accept most every file format, and play especially nicely with Google Docs.
<p>
Thanks so much!